@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-pagination {
  &__content {
    .pagination-container {
      ul {
        display: flex;
        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
					&.selected {
						background-color: tomato;
					}
        }
      }
    }
  }
}
